@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
  --header-text-color: 	 #00b3b3; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

#main{
  width: 800px;
  height: 100%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 0 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 65%;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  margin-bottom: -20px;
}
.header-name {
  text-align: center;
  background-color: var(--header-text-color);
  color: #FFF;
  text-transform: uppercase;
}
.header-name h1 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}
header p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 10px;
}
.pesonal-info {
  padding: 20px ;
  text-align: center;
}
.header-text {
  margin: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--header-text-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #FFF;
}
.header-text-right {
  margin: 20px 0;
  text-align: left;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--header-text-color);
  border-bottom: 3px solid var(--header-text-color);
}
ul li {
  margin-left: 20px;
}
p {
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: justify;
}
a {
  text-decoration: none;
  color: #000;
}